@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.follow {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  &__button {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 3px solid $Green;
    border-radius: 10px;
    height: 50px;
    background-color: transparent;
    padding: 0 10px;
    width: 100%;
    justify-content: center;
    @include Sub-Title;

    @include Tablet {
      height: 80px;
      gap: 20px;
    }
  }
}
