@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.quest-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 500px;

  @include Tablet {
    gap: 40px;
  }

  &__title {
    @include Sub-Title;
  }

  &__definition {
    @include Body;
  }

  &__list {
    padding: 0 0 0 20px;

    &-title {
      @include Label;
      color: $Pink;
    }
    &-keys {
      @include Body;
    }
  }

  &__example {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $Lightest-purple;
    border-radius: 10px;
    @include Body;
    color: $Green;
  }

  &__question {
    @include Body;

    &--incorrect {
      color: red;
    }
    &--correct {
      color: $Green;
    }
  }

  &__interactive {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    @include Tablet {
      gap: 40px;
    }
  }

  &__textarea {
    @include Body;
    width: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    overflow: hidden;

    &:focus {
      outline: none;
    }
  }

  &__modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    height: 100px;
    background-color: $Purple;
    border-radius: 10px;
    border: 3px solid $Pink;
    padding: 10px;

    &-button {
      border: none;
      background-color: transparent;
      display: flex;
      height: 100%;

      &-img {
        height: 16px;
      }
    }
  }

  &__interactive {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    font-family: "Abaddon";
    font-size: 1.25rem;
    color: white;
    border-radius: 10px;
    border: 3px solid $Green;
    background-color: $Purple;
    padding: 10px;
    resize: none;
    overflow: hidden;
  }
  &__lines {
    @include Body;
    color: White;
    text-align: right;
    user-select: none;
    flex-shrink: 0;
    padding-right: 10px;
  }
}
