@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.input {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: solid 3px White;
  background-color: transparent;
  padding: 10px;
  @include Body;

  &::placeholder {
    @include Body;
  }

  &:focus {
    outline-color: $Green;
  }
}
