@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.button {
  background-color: $Pink;
  color: white;
  width: 100%;
  max-width: 330px;
  border-radius: 10px;
  height: 50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  @include Body;

  &:focus {
    transform: translate(0, -2px);
    cursor: pointer;
    transition: 0.2s;
    transition-timing-function: linear;
  }

  &:active {
    transform: translate(0, 0);
  }

  &-white {
    background-color: $White;
    color: $Pink;
  }

  &-green {
    background-color: transparent;
    border: 3px solid $Green;

    &:hover {
      background-color: $Green;
    }
  }

  &-pink {
    background-color: transparent;
    border: 3px solid $Pink;

    &:hover {
      background-color: $Pink;
    }

    &-big {
      max-width: 375px;
    }
  }

  &-friend {
    width: 50px;

    @include Tablet {
      height: 80px;
      min-width: 80px;
    }
  }
}
