* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: auto;
  min-height: 100dvh;
  width: 100vw;
}

ol,
ul {
  list-style: none;
}
