@use "./variables" as *;
@use "./typography" as *;

@mixin Tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin Desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin Body {
  font-family: "Abaddon";
  font-size: 1rem;

  @include Tablet {
    font-size: 1.25rem;
  }
}

@mixin Sub-Title {
  font-family: "Laconic";
  font-size: 1.25rem;
  line-height: 130%;
  font-weight: 400;

  @include Tablet {
    font-size: 1.5rem;
  }
}

@mixin Title {
  font-family: "Heavitas";
  font-size: 1.5rem;
  line-height: 130%;

  @include Tablet {
    font-size: 2rem;
  }

  @include Desktop() {
    font-size: 2rem;
  }
}
