@font-face {
  font-family: "Abaddon";
  src: url(../../assets/fonts/AbaddonLight.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Abaddon";
  src: url(../../assets/fonts/AbaddonBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Heavitas";
  src: url(../../assets/fonts/Heavitas.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "WhiteRabbit";
  src: url(../../assets/fonts/WhiteRabbit.ttf) format("truetype");
  font-weight: 400;
}
