@font-face {
  font-family: "Abaddon";
  src: url(../../assets/fonts/AbaddonBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Heavitas";
  src: url(../../assets/fonts/Heavitas.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Laconic";
  src: url(../../assets/fonts/Laconic_Regular.otf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Laconic";
  src: url(../../assets/fonts/Laconic_Bold.otf) format("truetype");
  font-weight: 600;
}
