@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.sound {
  position: absolute;
  top: 1%;
  right: 5%;

  @include Tablet {
    right: 2%;
  }

  &__button {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 2px Solid $Green;

    @include Tablet {
      height: 50px;
      width: 50px;
    }
  }
  &__img {
    height: 100%;
    width: 100%;
  }
}
