@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.profile {
  @include Desktop {
    display: flex;
    width: 100%;
    height: 100dvh;
  }
  &-page {
    background-image: url("../../assets/background/GamingMobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100dvh;
    padding: 10px 20px 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: scroll;

    &__image-profile {
      border-radius: 100%;
      border: 3px solid $Green;
      height: 150px;
      width: auto;
    }

    &__top-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 10px;
    }

    &__name {
      @include Label;
    }
    &__username {
      @include Label;
    }
    &__date {
      @include Label;
    }

    &__bottom-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      align-items: center;

      @include Desktop {
        flex-direction: row;
        justify-content: center;
        align-items: unset;
      }

      @include Desktop {
        gap: 40px;
      }
      &-left {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
        max-width: 500px;

        @include Tablet {
          gap: 20px;
        }

        @include Desktop {
          max-width: 368px;
          gap: 20px;
        }
      }
    }
    &__count {
      display: flex;

      &-courses {
        @include Label;
        border-right: 3px solid $Green;
        padding: 0 10px 0 0px;

        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;

        &-container {
          display: flex;
          justify-content: space-between;
        }
        &-img {
          width: 18px;
          height: 18px;
        }
      }
      &-course {
        border: 1px solid $Green;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;

        @include Tablet {
          padding: 0 16px;
        }
      }
      &-following {
        @include Label;
        border-right: 3px solid $Green;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        padding: 0 10px;
        height: 40px;
      }
      &-follower {
        @include Label;
        gap: 5px;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40px;
      }
    }

    &__subtitle {
      @include Label;
    }

    &__friends-container {
      width: 100%;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include Desktop {
        max-width: 368px;
      }
    }
  }
}
