@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.friends {
  width: 100%;
  max-width: 500px;

  @include Desktop {
    max-width: 368px;
  }

  &__title {
    @include Label;
  }

  &__container {
    width: 100%;
    border: 3px solid $Green;
    border-radius: 10px;
  }

  &__button {
    width: 50%;
    background-color: transparent;
    height: 100%;
    border: none;
    border-right: 3px solid $Green;
    &:hover {
      background-color: $Green;
    }

    @include Label;

    &:last-child {
      border-right: none;
    }
  }

  &__buttons {
    width: 100%;
    height: 50px;
    border-bottom: 3px solid $Green;

    @include Tablet {
      height: 50px;
    }
  }

  &__text {
    @include Body;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include Tablet {
      height: 80px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px;
  }

  &__name {
    @include Subtitle;
    display: flex;
    align-items: center;

    @include Tablet {
      height: 80px;
    }
  }

  &__picture {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}
