@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.quest {
  @include Desktop {
    display: flex;
    width: 100%;
    height: 100dvh;
  }
  &-page {
    background-image: url("../../assets/background/GamingMobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100dvh;
    padding: 30px 20px 110px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
