@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.google-button {
  background-color: White;

  width: 100%;
  max-width: 320px;
  border-radius: 10px;
  height: 50px;
  border: none;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @include Body;
  color: #757575;

  @include Tablet {
    height: 80px;
    max-width: 368px;
  }
}
