@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.setting-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  overflow-y: scroll;

  &__top-container {
    width: 100%;
    display: flex;
    height: 60px;

    @include Tablet {
      height: 80px;
    }
  }

  &__link-back {
    position: absolute;
  }

  &__title {
    @include Title;
    color: white;
    margin: 0 auto;
  }

  &__bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  &__avatar {
    border: 3px solid $Green;
    border-radius: 100%;

    width: 25%;
    height: auto;

    max-width: 100px;

    &-button {
      @include Body;
      background-color: transparent;
      color: $Pink;
      border: none;
    }

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 100%;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    gap: 20px;
  }

  &__label {
    @include Sub-Title;
    color: White;
  }

  &__input {
    @include Body;
    border: 3px solid $Green;
    background-color: transparent;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    color: white;
    padding: 5px 10px;

    &:focus {
      outline: none;
    }

    &-container {
      width: 100%;
    }
  }

  &__button {
    @include Body;
    background-color: transparent;
    color: $Pink;
    border: none;
    width: 100%;
    display: flex;
    max-width: 320px;
  }
}
