@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.leaderboard {
  @include Desktop {
    display: flex;
    width: 100%;
    height: 100dvh;
  }
  &-page {
    background-image: url("../../assets/background/GamingMobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100dvh;
    padding: 30px 20px 110px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: scroll;

    &__top {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    &__bottom {
      width: 100%;
      max-width: 500px;
    }
  }
  &__icon {
    height: 100px;
    width: 100px;
  }

  &__title {
    @include Title;
  }

  &__position {
    @include Body;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 20px;

    &-img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }

  &__name {
    @include Body;
  }

  &__stats {
    display: flex;
    gap: 5px;
  }

  &__xp {
    @include Body;
    color: $Pink;

    &-amount {
      @include Body;
    }
  }
}
