@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.alert-modal {
  display: flex;
  position: absolute;
  z-index: 10;
  width: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid $Pink;
  padding: 40px;
  background-color: $Dark-Purple;
  border-radius: 10px;
  align-items: center;
  justify-content: space-evenly;

  @include Tablet {
    width: 350px;
  }

  &__text {
    @include Body;
  }

  &__button {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;

    position: absolute;

    top: 1%;
    right: 1%;

    &-img {
      height: 30px;
      width: auto;
    }
  }
}
