@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 2px solid transparent;
  background: $Light-Purple;

  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  cursor: pointer;

  &__logo {
    height: 90%;
    max-height: 60px;
  }

  &__button {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    position: relative;

    &-img {
      height: 100%;
      width: 100%;
    }

    @include Desktop {
      display: none;
    }

    &-container {
      display: none;

      @include Desktop {
        display: flex;
        width: 300px;
        gap: 20px;
      }
    }
  }
}

.menu {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-100%) translateX(40px);
  z-index: 150;
  margin-top: 8px;

  &__arrow {
    background-color: $Purple;
    border: 2px solid $vibrant-purple;
    border-radius: 2px;
    height: 14.14427157px;
    left: 50%;
    transform: translateZ(0) rotate(45deg);
    transform-origin: top left;
    width: 14.14427157px;

    box-sizing: border-box;
    position: absolute;

    &-container {
      box-sizing: border-box;
      position: absolute;

      height: 10px;
      overflow: hidden;
      width: 20px;

      margin: 0 var(--web-ui_popover-border-radius, 15px);
      top: -8px;

      transform: translateX(-50%);

      left: calc(100% + -40px - var(--web-ui_popover-border-radius, 15px));
    }
  }

  &__links-container {
    background-color: $Purple;
    border: 2px solid $vibrant-purple;
    border-radius: var(--web-ui_popover-border-radius, 15px);
    box-sizing: border-box;
    overflow: hidden;
    transform: translateZ(0);
  }

  &__link {
    display: block;
    max-width: calc(100vw - 80px);

    @include Body;
    font-weight: 700;
    overflow: hidden;
    padding: 12px 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    &--alt {
      border-top: 2px solid $vibrant-purple;
    }
  }
}
